#IGNORE ENVIORMENT VARIABLES
.env

#IGNORE FILES INSIDE OF VIDEOS FOLDER
videos/*
audio/*

#IGNORE THUMBNAILS INSIDE OF THUMBNAILS FOLDER
thumbnails/*
images/*
banner/*
thumbnails_test/*


slideshow.mp4