#IGNORE ENVIORMENT VARIABLES
.env

# Ignore contents of these folders, but keep the folders
exported_videos/*
!exported_videos/.gitkeep

media/images/*
!media/images/.gitkeep

media/video/*
!media/video/.gitkeep

banner/*
!banner/.gitkeep

audio/*
!audio/.gitkeep
